{% load i18n %}

{# 
  Subject block for the activation email.
  This will be used as the email subject line.
#}
{% block subject %}
{% blocktrans %}Account activation on EventHub{% endblocktrans %}
{% endblock subject %}

{# 
  Text body block for plain-text email clients.
  Includes activation instructions and a direct link.
#}
{% block text_body %}
{% blocktrans %}You are receiving this email because you registered for an EventHub account and need to complete your activation process.{% endblocktrans %}

{% trans "Please click the link below to activate your EventHub account:" %}
http://localhost:3000/{{ url|safe }}

{% trans "Thank you for choosing EventHub!" %}

{% blocktrans %}The EventHub Team{% endblocktrans %}
{% endblock text_body %}

{# 
  HTML body block for rich email clients.
  Provides a styled activation message and link.
#}
{% block html_body %}
<p>{% blocktrans %}You are receiving this email because you registered for an EventHub account and need to complete your activation process.{% endblocktrans %}</p>

<p>{% trans "Please click the link below to activate your EventHub account:" %}</p>
<p><a href="http://localhost:3000/{{ url|safe }}">Activate your EventHub account</a></p>

<p>{% trans "Thank you for choosing EventHub!" %}</p>

<p>{% blocktrans %}The EventHub Team{% endblocktrans %}</p>
{% endblock html_body %}

